#projects {
  height: 105vh;
  padding-top: 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #232323;
  border-radius: 5px;
  height: 12rem;
  width: 100%;
  padding: 1rem;
}
.project:hover {
  background-color: #080808;
}

.project h3 {
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: solid #f44761;
  border-width: 1px;
}

.project h4 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #f44761;
}
.project p {
  font-size: 1rem;
  font-weight: 200;
}

.projects-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  left: 27.5%;
  height: fit-content;
  width: 45%;
}

.projects-wrapper h2 {
  font-size: 4rem;
  color: white;
  width: 100%;
  border-bottom: solid #f44761;
  border-width: 1px;
  margin: 0;
  margin-bottom: 3rem;
  text-align: end;
}
