#about {
  height: fit-content;
}

.about-wrapper {
  display: flex;
  align-items: start;
  flex-direction: column;
  position: relative;
  left: 27.5%;
  height: fit-content;
  width: 45%;
}

.about-wrapper h2 {
  font-size: 4rem;
  color: white;
  width: 100%;
  border-bottom: solid #f44761;
  border-width: 1px;
  margin: 0;
  margin-bottom: 3rem;
}

.about-header {
  display: flex;
  justify-content: start;
  width: 100%;
}

.about-container {
  display: grid;
  grid-template-columns: 2fr 1.25fr;

  position: relative;
  height: fit-content;
  width: fit-content;
}

.about-container p {
  text-align: start;
  position: relative;
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 200;
  width: 100%;
  margin-top: 0;
}

.text-wrapper {
  height: fit-content;
}

.about-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.about-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: #837f7f;
}

.about-links a:hover {
  color: #f44761;
}
