#about {
  height: 110vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  margin-bottom: 10rem;
  width: 50%;
}

#about h2 {
  width: fit-content;
  font-size: 4rem;
  color: white;
  margin-bottom: 0;
  position: relative;
  left: 7rem;
  text-transform: capitalize;
}

#about h3 {
  text-align: start;
  position: relative;
  left: 7rem;
  font-family: "DotGothic16", sans-serif;
  text-transform: none;
  font-size: 1.7rem;
  width: 80%;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;
  width: 40%;
}

#about-card {
  width: 16rem;
  height: 16rem;
  border-radius: 25px;
  background-color: black;
  border: none;
}

#about-card img {
  width: 8rem;
}
