#contact {
  background: linear-gradient(180deg, #111111, #000000);
  background-size: 180% 180%;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.contact-container {
  position: relative;
  height: 100%;
  width: 40%;
  left: 30%;
  padding: 1rem 0 0 0;
}

.contact-container h2 {
  font-size: 6.3rem;
  text-align: center;
  margin: 0;
}

.contact-container p {
  font-weight: 200;
  text-align: center;
  font-size: 1.2rem;
}

.email {
  font-size: 1.3rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.contact-container a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-align: center;
}

.contact-container a:hover {
  color: #cf3c52;
}

.pinkColor {
  color: #f44761;
}
