@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  width: 4rem;
  height: 100vh;
  background-color: #080808;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  width: 3.5rem;
}

.navbar-buttons a {
  font-size: 1.2rem;
  position: relative;
  height: 4rem;
  width: 6rem;
  display: flex;
  color: #837f7f;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 200;
  margin: 0;
  transform: rotate(90deg);
}

.navbar-button-enter {
  background-color: #232323;
  color: whitesmoke !important;
  border-top: solid #f44761;
  border-width: 0.5px;
}

.navbar-button-leave {
  background-color: #080808;
}

.scroll {
  background-color: grey;
  top: -5rem;
  border-radius: 20px;
  animation: fadedown 0.4 ease 1s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

@keyframes fadedown {
  0% {
    top: -5rem;
  }
  100% {
    top: 1.2rem;
  }
}

#navbar-logo {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  color: whitesmoke;
}

#navbar-logo a {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  width: auto;
  text-decoration: none;
  color: whitesmoke;
}

#navbar-logo a:hover {
  color: #f44761;
}

#navbar-logo img {
  width: 3rem;
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  transition: transform 0.2s;
}
#navbar-logo img:hover {
  transform: scale(1.2);
}

.contacts-bar {
  width: 100vw;
  background-color: transparent;
  position: fixed;
  left: 4rem;
  backdrop-filter: blur(5px);
  height: 3.6rem;
  z-index: 3;
}

.contacts-bar-buttons {
  position: relative;
  top: 25%;
  left: 3rem;
  width: 9rem;
  text-decoration: none;
}

.contacts-bar-buttons a {
  position: relative;
  top: 25%;
  color: #837f7f;
  margin: 0.8rem;
}

.contacts-bar-buttons a:hover {
  color: #f44761;
}

.title-wrapper {
  position: absolute;
  height: 50%;
  width: 45%;
  left: 27.5%;
  top: 15%;
}

.title-wrapper h1 {
  font-size: 5.6rem;
  margin-bottom: 0;
  color: white;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
.title-wrapper h3 {
  font-size: 2.3rem;
  margin: 0;
  width: fit-content;
  height: 20%;
  text-transform: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.title-wrapper p {
  width: fit-content;
  font-weight: 200;
  font-size: 1.3rem;
  margin: 0;
}

.title-wrapper button {
  text-decoration: none;
  height: 3rem;
  width: 9rem;
  font-size: 1.2rem;
  background-color: #f44761;
  border-radius: 6px;
  margin-top: 1rem;
  border: none;
}

.title-wrapper button:hover {
  background-color: #cd3c52;
}

.occupation {
  text-transform: capitalize;
  font-weight: 600;
}

.pinkColor {
  color: #f44761;
}

.title-wrapper img {
  width: 22rem;
  position: relative;
  left: 25%;
  top: 25%;
}

#intro {
  height: 90vh;
  display: flex;
}

.gradient-background {
  background: linear-gradient(
    210deg,
    #f44761,
    #f44761,
    #a53e3e,
    #111111,
    #111111,
    #111111,
    #111111,
    #111111,
    #111111,
    #111111,
    #111111
  );
  background-size: 180% 180%;
  animation: gradient-animation 2.5s ease forwards;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
